@import "../../Styles/Base/all";

.header-navigation__open-button {
  align-items: center;
  display:flex;
  justify-content: center;
  margin-left: auto;

  width: 2rem;
  height: 2rem;

  @include appearance-reset;
  background-color: $white;
  border-radius: 50%;
  border: none;
  box-shadow: 0 1px 1px 0 rgba(23,23,23,0.15);
  cursor: pointer;
}

.header-navigation__open-button svg {
  height: 1rem;
}

@include breakpoint("large") {
  .header-navigation__open-button {
    display: none;
  }
}
