@import "../../Styles/Base/all";

.header-utility-nav {
  align-items: center;
  justify-content: flex-end;
}

.header-utility-nav__list {
  align-items: center;
  display: flex;

  margin-right: 1rem;
}

.header-utility-nav-list__item:after {
  position: relative;
  top: 1px;

  color: uswdsGray(5);

  content: "|"
}

.header-utility-nav-list-item__link {
  padding: 0.5rem;

  color: uswdsGray(5);

  font-size: 0.875rem;
  text-decoration: none;

  @include transition;
}

.header-utility-nav-list-item__link:hover {
  color: uswdsGray(7);
}

.header-utility-nav-list__item:last-of-type:after {
  display: none;
}

@include breakpoint("large") {
  .header-utility-nav {
    display: flex;
  }
}
