@import "../../Styles/Base/all";

.header {
  position: sticky;
  top: 0;
  z-index: 99;

  @include block-spacing("padding", 1rem);

  background-color: $white;
  border-bottom: 1px solid lcsBlue();
}

.header__container {
  display: flex;
}

.header__logo {
  flex: 0 1 75%;
  max-width: 75%;
}

.header__navigation {
  flex: 0 1 25%;
  max-width: 25%;
}

@include breakpoint("large-down") {
  .header__utility-nav {
    display: none;
  }
}

@include breakpoint("large") {
  .header {
    border-width: 2px;
  }

  .header__container {
    flex-wrap: wrap;
  }

  .header__logo {
    flex: 0 1 26rem;
    max-width: 26rem;
  }

  .header__utility-nav {
    flex: 0 1 calc(100% - 26rem);
    max-width: calc(100% - 26rem);
  }

  .header__navigation {
    flex: 0 1 100%;
    max-width: 100%;
  }
}
