@import "../../Styles/Base/all";

.interim-calendar__tile {
  padding: 1rem;

  background-color: uswdsGray(1);
}

.interim-calendar-tile__heading {
  margin-bottom: 0.5rem;
}

.interim-calendar-tile__activity,
.interim-calendar-tile__date-location {
  margin-bottom: 1rem;
}

.interim-calendar-tile__date-location,
.interim-calendar-tile__calendar-listen {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

@include breakpoint(medium-down) {
  .interim-calendar__table {
    display: none;
  }
}

@include breakpoint(medium) {
  .interim-calendar__tile {
    display: none;
  }
}
