@import "../../Styles/Base/all";

.session-calendar {
  margin-top: 1rem;
}

.session-calendar__heading {
  display: flex;
  margin-bottom: 1rem;
}

.session-calendar-heading__text {
  flex: 1 1 auto;
}

.session-calendar-heading__text--house {
  color: lcsGreen();
}

.session-calendar-heading__text--senate {
  color: lcsRed();
}

.session-calendar__full-cal {
  margin-top: 1rem;
}

.session-calendar-heading__icon {
  align-items: center;
  display: flex;

  margin-right: 0.5rem;

  text-decoration: none;
}

.session-calendar-heading__icon:last-of-type {
  margin-right: 0;
}

.session-calendar-heading__icon svg {
  height: 1rem;

  fill: lcsBlue();
}

.session-calendar-heading-icon__text {
  margin-left: 0.5rem;

  color: uswdsGray(7);
  font-size: 0.75rem;
  font-weight: normal;
  text-transform: none;
}

@include breakpoint(medium-down) {
  .session-calendar-heading-icon__text {
    display: none;
  }
}
