@import "../../Styles/Base/all";

.leadership {
  width: 100%;

  padding: 0.5rem;
  border: 1px solid uswdsGray(2);
}

.leadership__content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.leadership__list-wrapper {
  flex: 0 1 100%;
}

.leadership__heading {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;

  border-bottom: 1px solid uswdsGray(2);
}

.leadership__list {
  padding-bottom: 1.5rem;
}

.leadership-list__item {
  margin-bottom: 0.5rem;
}

.leadership-list__item:last-of-type {
  margin-bottom: 0;
}

.leadership-list__link {
  text-decoration: none;
}

.leadership-list-link__position {
  display: block;
  margin-bottom: 0.5rem;

  color: uswdsGray(5);
  font-size: 0.875rem;
}

.leadership-list-link__name {
  color: lcsBlue();
}

@include breakpoint("small") {
  .leadership {
    width: 100%;

    padding: 0.5rem;
    border: 1px solid uswdsGray(2);
  }

  .leadership__list-wrapper {
    flex: 0 1 50%;
  }
}

@include breakpoint("medium") {
  .leadership {
    position: relative;

    height: 100%;
    padding: 1rem;
    overflow: hidden;
  }

  .leadership__content-wrapper {
    bottom: 1rem;
    left: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;

    overflow-y: scroll;
  }

  .leadership__list-wrapper {
    flex: 0 1 100%;
  }

  .leadership__heading {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .leadership__list {
    padding-bottom: 3rem;
  }

  .leadership-list__item {
    margin-bottom: 1rem;
  }

  .leadership-list__item:last-of-type {
    margin-bottom: 0;
  }
}
