@import "../../Styles/Base/all";

.legislators-table__filters {
  display: flex;
  flex-wrap: wrap;
}

.legislators-table-filters__filter {
  flex: 0 1 100%;
  margin-bottom: 1rem;
}

.legislators-table__table-wrapper {
  width: 100%;
}

.legislators-table__table {
  padding-top: 2rem;
}

@include breakpoint("small") {
  .legislators-table-filters__filter {
    flex: 1 1 calc(50% - 1rem);
    margin-right: 1rem;
  }

  .legislators-table-filters__filter:nth-child(even) {
    margin-right: 0;
  }
}

@include breakpoint("medium") {
  .legislators-table-filters__filter {
    flex: 0 1 calc(25% - 1rem);
  }

  .legislators-table-filters__filter:nth-child(even) {
    margin-right: 1rem;
  }

  .legislators-table-filters__filter:last-of-type {
    margin-right: 0;
  }
}

@include breakpoint("large-down") {
  .legislators-table__table-wrapper {
    overflow-x: scroll;
  }

  .legislators-table__table {
    min-width: 70rem;
  }
}
