@import "../../Styles/Base/all";

.table-wrapper {
  @include block-spacing("padding", 2rem);
}

.table {
  width: 100%;
}

.table__head {
  background-color: $white;
}

.table-head-row__heading {
  @include block-spacing("padding", 0.5rem);
  @include inline-spacing("padding", 0.5rem);

  color: uswdsGray(4);
  font-size: 0.875rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.table-body__row:nth-child(odd) {
  background-color: uswdsGray(1);
}

.table-body-row__item {
  @include block-spacing("padding", 0.5rem);
  @include inline-spacing("padding", 0.5rem);
  font-size: 0.875rem;
}
