@import "../../Styles/Base/all";

.block {
  position: relative;

  margin-bottom: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  border: 1px solid uswdsGray(2);
}

.block__title {
  margin-bottom: 1rem;
}

.block__button {
  left: 50%;
  position: absolute;
  top: 100%;

  transform: translate3d(-50%,-50%,0);
}

@include breakpoint(medium) {
  .block {
    padding: 2rem 2rem 3rem 2rem;
  }
  .block__title {
    margin-bottom: 2rem;
  }
}
