@import "../../Styles/Base/all";

.page-intro {
  @include block-spacing("padding", 2rem);
}

.page-intro--with-sidebar {
  display: flex;
  flex-wrap: wrap;
}

.page-intro:after {
  display: block;
  flex: 0 1 100%;

  @include block-spacing("margin", 2rem);
  height: 2px;
  width: 100%;

  background-color: lcsBlue();
  content: "";
}

.page-intro__main {
  flex: 0 1 100%;
  margin-bottom: 0.5rem;
}

.page-intro__sidebar {
  flex: 0 1 100%;
  margin-top: 0.5rem
}

.page-intro-main__heading {
  margin-bottom: 1rem;
}

@include breakpoint("medium") {
  .page-intro__main {
    flex: 0 1 calc(70% - 1rem);
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .page-intro__sidebar {
    flex: 0 1 calc(30% - 1rem);
    margin-left: 1rem;
    margin-top: 0;
  }

  .page-intro:after {
    @include block-spacing("margin", 4rem);
  }
}
