@import "../../Styles/Base/all";

.hero-carousel-slides__slide {
  top: 0;
}

.hero-carousel-slide {
  position: absolute;

  height: 100%;
  width: 100%;

  @include transition;
  transform: translate3d(-200%, 0, 0);
}

.hero-carousel-slide[data-next=true] + .hero-carousel-slide {
  transform: translate3d(200%, 0, 0);
}

.hero-carousel-slide[data-prev=true] {
  z-index: 10;

  transform: translate3d(-100%, 0, 0);
}


.hero-carousel-slide[data-next=true] {
  z-index: 10;

  transform: translate3d(100%, 0, 0);
}

.hero-carousel-slides .hero-carousel-slide[data-active=true] {
  z-index: 10;

  transform: translate3d(0, 0, 0);
}

.hero-carousel-slide__image {
  padding-top: 12rem;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-carousel-slide__text {
  padding: 0.5rem;
}

.hero-carousel-slide__description,
.hero-carousel-slide__button {
  margin-top: 0.5rem;
}

@include breakpoint("small") {
  .hero-carousel-slide__image {
    padding-top: 18rem;
  }
}

@include breakpoint("medium") {
  .hero-carousel-slide__image {
    padding-top: 24rem;
  }
}

@include breakpoint("large") {
  .hero-carousel-slide__image {
    flex: 0 1 54%;
    padding-top: 30rem;
  }

  .hero-carousel-slide__text {
    align-self: center;
    flex: 0 1 46%;
    padding: 1rem;
  }

  .hero-carousel-slide {
    display: flex;
  }
}
