@import "../../Styles/Base/all";

.hero-carousel {
  width: 100%;
  overflow: hidden;
}

.hero-carousel__slides {
  position: relative;

  padding-top: 25rem;
}

.hero-carousel__controls {
  align-items: center;
  display: flex;
  padding: 0.5rem;

  background-color: uswdsGray(1);
}

.hero-carousel-controls__dots {
  display: flex;
  flex: 0 1 100%;
}

.hero-carousel__dot {
  margin: 0 0.5rem 0 0;
  padding: 0;


  @include appearance-reset;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  @include transition;
}

.hero-carousel-dot__circle {
  height: 1rem;
  width: 1rem;

  background-color: lcsBlue();
  border-radius: 50%;
}

.hero-carousel__dot--active {
  opacity: 1;
}

.hero-carousel-controls__arrows {
  display: flex;
}

.hero-carousel-controls__arrow {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 1rem;
  width: 1rem;

  @include appearance-reset;
  background-color: lcsBlue();
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.hero-carousel-controls__arrow svg {
  height: 0.65rem;

  fill: $white;
}

.hero-carousel-controls__arrow--prev {
  margin-right: 0.5rem;
}


@include breakpoint("small") {
  .hero-carousel__slides {
    padding-top: 30rem;
  }
}

@include breakpoint("medium") {
  .hero-carousel__slides {
    padding-top: 36rem;
  }
}

@include breakpoint("large") {
  .hero-carousel__controls {
    padding: 1rem;
  }

  .hero-carousel__slides {
    padding-top: 40rem;
  }
}
