@import "../../Styles/Base/all";

.session-page__heading {
  margin-bottom: 2rem;
}

.session-page-heading__heading {
  margin-bottom: 1rem;
}

.session-page__sorts {
  display: flex;
  flex-wrap: wrap;
}

.session-page-sorts__sort {
  flex: 1 1 100%;
  margin-bottom: 1rem;
}

@include breakpoint(medium) {
  .session-page__sorts {
    width: 50%;
  }

  .session-page-sorts__sort {
    flex: 1 1 calc(50% - 1rem);
    margin-right: 1rem;
  }

  .session-page-sorts__sort:last-of-type {
    margin-right: 0;
  }
}
