body {
  min-height: 100vh;

}

body:before {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  background-color: rgba(0,0,0,0.6);
  content: "";
  opacity: 0;
  pointer-events: none;
  @include transition;
}


body.nav-active:before {
  opacity: 1;
}
