.container {
  @include inline-spacing("margin", auto);
  @include inline-spacing("padding", 1rem);

  max-width: 90rem;
  width: 100%;
}

.container--full {
  @include inline-spacing("padding", 0);
}

@include breakpoint("large") {
  .container--full {
    @include inline-spacing("padding", 1rem);
  }
}
