.flex {
  display: flex;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--column {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: 2rem;
}

@include breakpoint(medium) {
  .grid-medium-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}


