.select {
  @include input-default;
  border-radius: 4px;

  @include disabled {
    color: uswdsDisabled(3);
    background-color: uswdsDisabled(1);
    cursor: not-allowed;
  }

  @include invalid {
    color: uswdsError(3);
    border: 1px solid uswdsError(3);
  }
}

.select-element-wrapper {
  position: relative;
  z-index: 0;
}

.select-element-wrapper svg {
  position: absolute;
  right: 1rem;
  top: 50%;

  height: 0.75rem;

  font-size: 0.75rem;

  transform: translateY(-50%);

  pointer-events: none;
}

.label-input--select {
  display: block;

  margin-bottom: 1rem;
}
