html,
body,
input {
  font-family: map-get($setting-fonts, primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
}

.h1 {
  @include h1;
}
.h2 {
  @include h2;
}
.h3 {
  @include h3;
}
.h4 {
  @include h4;
}

p,
.p,
.paragraph {
  @include paragraph();
  max-width: 46rem;
}

.label-checkbox {
  @include label-checkbox;
}
.label-input {
  @include label-input;
}

strong {
  @include strong;
}
