@import "../../Styles/Base/all";

.website-navigation {
  background-color: $white;
  @include transition;
}

.website-navigation__header {
  align-items: center;
  display: flex;
  padding: 0.5rem;
}

.website-navigation-header__logo {
  flex: 0 1 75%;
  max-width: 75%;
}

.website-navigation-header__close {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex: 0 1 25%;
  max-width: 25%;
}

.website-navigation-header__close-button {
  padding: 1rem;

  @include appearance-reset;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.website-navigation-header__close-button svg {
  height: 1rem;
}

.website-navigation__search {
  padding: 0.5rem;
}

@include breakpoint("large-down") {
  .website-navigation {
    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 95%;

    overflow-y: scroll;
    transform: translate3d(100%, 0, 0);
  }

  .website-navigation--active {
    transform: translate3d(0,0,0);
  }

  .website-navigation--desktop {
    display: none;
  }
}

@include breakpoint("large") {

  .website-navigation__header,
  .website-navigation__search {
    display: none;
  }

  .website-navigation--desktop {
    padding-top: 1rem;
  }
}
