@import "../../Styles/Base/all";

.nav-list-item__link {
  align-items: center;
  display: flex;
  padding: 0.5rem;
  width: 100%;

  text-align: left;
  text-decoration: none;

  @include appearance-reset;
  border: none;
  cursor: pointer;
}

.nav-list-item__text {
  flex: 0 1 100%;
}


.nav-list-item__link svg {
  fill: $white;
  height: 0.75rem;

  @include transition;
}

.nav-list-item__link--sublist-open svg {
  transform: rotate(180deg);
}

.nav-list-item__subnav {
  background-color: lcsBlue(6);
  overflow: hidden;
  @include transition;
}

.nav-list-item-subnav__item {
  border-bottom: 2px solid lcsBlue(5);
}

.nav-list-item-subnav__item:last-of-type {
  border-bottom: none;
}

.nav-list-item-subnav__link {
  display: block;
  padding: 1rem 0.5rem;
  width: 100%;

  color: $white;
  text-align: left;
  text-decoration: none;
}

@include breakpoint("large-down") {
  .nav-list-item__link {
    color: $white;

    background-color: lcsBlue(4);
    border-bottom: 2px solid lcsBlue(5);
  }

}

@include breakpoint("large") {
  .navigation-list {
    display: flex;
  }

  .nav-list-item {
    position: relative;

    align-items: center;
    display: flex;
  }


  .nav-list-item:after {
    content: "|";
  }

  .nav-list-item:last-of-type:after {
    display: none;
  }

  .nav-list-item__link {
    position: relative;

    color: uswdsGray(6);
    font-size: 0.875rem;

    background-color: transparent;
  }

  .nav-list-item__link svg {
    height: 0.5rem;
    margin-left: 0.25rem;

    fill: lcsBlue();
  }

  .nav-list-item__subnav {
    position: absolute;
    top: 100%;

    min-width: 100%;
  }

  .nav-list-item-subnav__link {
    white-space: nowrap;
  }
}
