@import "../../Styles/Base/all";

.line-item {
  display: block;
}

.line-item__subtitle {
  margin-bottom: 0.5rem;
}

.line-item__title {
  font-weight: normal;
}

.line-item + .line-item {
  margin-top: 1rem;
}

@include breakpoint(medium) {
  .line-item + .line-item {
    margin-top: 2rem;
  }
}
