@import "../../Styles/Base/all";

.site-logo {
  align-items: center;
  display: flex;
}

.site-logo__logo-wrapper {
  flex: 0 1 3.5rem;
  max-width: 3.5rem;
  margin-right: 0.5rem;
}

.site-logo__logo {
  display: block;
  max-width: 100%;
}

.site-logo__subtitle {
  margin-bottom: 0.5rem;

  color: lcsBlue();
  font-size: 0.75rem;
  font-weight: bold;
}


@include breakpoint("large-down") {
  .site-logo__subtitle {
    display: none;
  }
}

@include breakpoint("large") {
  .site-logo__logo-wrapper {
    flex: 0 1 4.5rem;
    max-width: 4.5rem;
  }
}
