@import "../../Styles/Base/all";

.quick-links-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  height: 100%;
  width: 100%;

  border: 1px solid uswdsGray(2);
}

.quick-links-link__illustration svg {
  height: 6rem;

  fill: lcsGoldWeb(3);
  @include transition;
}

.quick-links-link:hover .quick-links-link__illustration svg {
  fill: lcsGoldWeb(4);
}

.quick-links-link__title {
  margin-top: 2rem;
}

.quick-links-link__arrow {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  height: 1rem;
  width: 1rem;

  background-color: lcsBlue();
  border-radius: 50%;
}

.quick-links-link__arrow svg {
  position: relative;
  left: 1px;

  height: 0.65rem;

  fill: $white;
}
