@import "../../Styles/Base/all";

.quick-links {
  @include block-spacing("padding", 2rem);
}

.quick-links__container {
  text-align: center;
}

.quick-links__text {
  margin-bottom: 1rem;
}

.quick-links__heading {
  margin-bottom: 1rem;
}

.quick-links__links {
  @include inline-spacing("margin", -0.5rem);
}

.quick-links__link-item {
  @include inline-spacing("padding", 0.5rem);
  margin-bottom: 1rem;
}

@include breakpoint("medium") {
  .quick-links {
    @include block-spacing("padding", 4rem);
  }

  .quick-links__text {
    margin-bottom: 2rem;
  }
}


//
// Grid
//
.quick-links__links {
  display: flex;
  flex-wrap: wrap;
}

.quick-links__link-item {
  flex: 1 1 50%;
}

@include breakpoint("medium") {
  .quick-links__link-item {
    flex: 1 1 auto;
  }
}
