@each $break, $value in $setting-breakpoints {
  @include breakpoint($break) {
    @each $direction in $setting-spacer-directions {
      @for $i from 0 through $setting-max-spacer-value {
        .m-#{$break}-#{$direction}-#{$i} {
          margin-#{$direction}: #{$i}rem;
        }

        .p-#{$break}-#{$direction}-#{$i} {
          padding-#{$direction}: #{$i}rem;
        }
      }
    }
  }
}
