@import "../../Styles/Base/all";

.footer {
  padding-bottom: 1rem;
  padding-top: 2rem;

  background-color: uswdsGray(1);
}

.footer-container__section {
  margin-bottom: 1rem;
}

.footer-contact-info__logo .site-logo__subtitle {
  display: none;
}

.footer-contact-info__logo,
.footer-contact-info__address,
.footer-link-list__heading,
.footer-link-list__item {
  margin-bottom: 1rem;
}

.footer-link-list__item:last-of-type {
  margin-bottom: 0;
}

.footer-contact-info__address,
.footer-link-list__link {
  line-height: 1.5;
}


@include breakpoint("small") {
  .footer-container__section {
    margin-bottom: 2rem;
  }
}

@include breakpoint("medium-down") {
  .footer__link-list {
    @include block-spacing("padding", 1rem);
  }

  .footer__contact-info {
    @include block-spacing("padding", 1rem);
  }
}

@include breakpoint("medium") {
  .footer {
    padding-bottom: 2rem;
    padding-top: 4rem;
  }
}

//
// Layout Related Styling
//
.footer__container {
  display: flex;
  flex-wrap: wrap;
}

.footer-container__section {
  flex: 1 1 100%;
}

@include breakpoint("small") {
  .footer-container__section {
    flex: 1 1 calc(50% - 2rem);
  }

  .footer-container__section:nth-child(odd) {
    margin-right: 1rem;
  }
  .footer-container__section:nth-child(even) {
    margin-left: 1rem;
  }
}


@include breakpoint("large") {
  .footer-container__section {
    flex: 1 1 calc(25% - 2rem);
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .footer-container__section:first-of-type {
    margin-left: 0;
  }
  .footer-container__section:last-of-type {
    margin-right: 0;
  }


}
