@mixin appearance-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin button-type-builder(
  $textColor,
  $bgColor,
  $borderColor,
  $isOutline: false
) {
  color: $textColor;

  background-color: $bgColor;
  border: 1px solid $borderColor;

  &:hover {
    @if $isOutline {
      color: $white;
    } @else {
      color: $borderColor;
    }

    background-color: $textColor;
    border: 1px solid $textColor;
    @include drop-shadow-elevation(1);
  }

  &.alt {
    @if $isOutline {
      color: $white;

      background-color: $bgColor;
      border: 1px solid $white;
    } @else {
      color: $borderColor;

      background-color: $textColor;
      border: 1px solid $textColor;
    }

    &:hover {
      background-color: $borderColor;
      border: 1px solid $borderColor;

      @if $isOutline {
        color: $white;
      } @else {
        color: $textColor;
      }
    }
  }
}

@mixin color-class-creator($color-list, $color-name) {
  @each $num, $color in $color-list {
    .bg-#{$color-name}-#{$num} {
      background-color: $color;
    }

    .text-#{$color-name}-#{$num} {
      color: $color;
    }
  }
}

@mixin drop-shadow-elevation($num) {
  @if $num == 1 {
    box-shadow: 0 0 5px 0 $setting-drop-shadow-color;
  } @else if $num == 2 {
    box-shadow: 0 0 8px 0 $setting-drop-shadow-color;
  } @else if $num == 3 {
    box-shadow: 0 0 10px 0 $setting-drop-shadow-color;
  } @else if $num == 4 {
    box-shadow: 0 0 12px 0 $setting-drop-shadow-color;
  } @else if $num == 5 {
    box-shadow: 0 0 15px 0 $setting-drop-shadow-color;
  } @else {
    @error "Unknown direction #{$direction}.";
  }
}

@mixin disabled {
  &[disabled],
  &[aria-disabled="true"] {
    @content;
  }
}

@mixin invalid {
  &[data-invalid],
  &[aria-invalid="true"] {
    @content;
  }
}

@mixin success {
  &[data-success] {
    @content;
  }
}

@mixin valid {
  &[data-valid] {
    @content;
  }
}

@mixin warning {
  &[data-warning] {
    @content;
  }
}

@mixin message-box-color-scheme(
  $text-color,
  $background-color,
  $border-color,
  $rule-color,
  $icon-color
) {
  color: $text-color;

  background-color: $background-color;
  border-color: $border-color;

  .message-box__rule {
    background-color: $rule-color;
  }

  .message-box__icon {
    color: $icon-color;
  }
}

@mixin block-spacing($type, $amount) {
  #{$type}-bottom: $amount;
  #{$type}-block-end: $amount;
  #{$type}-top: $amount;
  #{$type}-block-start: $amount;
}

@mixin inline-spacing($type, $amount) {
  #{$type}-left: $amount;
  #{$type}-inline-start: $amount;
  #{$type}-right: $amount;
  #{$type}-inline-end: $amount;
}

@mixin input-default {
  position: relative;
  display: block;
  min-height: 3rem;
  width: 100%;

  padding-left: 0.5rem;

  font-family: map-get($setting-fonts, primary);
  font-size: 1rem;

  @include appearance-reset;
  background-color: $white;
  border: 1px solid uswdsGray(4);
}


@mixin transition(
  $prop: all,
  $duration: $setting-default-transition-speed,
  $easing: ease-in-out
) {
  transition: $prop $duration $easing;
}





