@mixin a {
  font-family: map-get($setting-fonts, primary);
  font-weight: 700;
}

@mixin address {
  font-style: italic;
  line-height: 1.6;
}

@mixin blockquote {
  font-family: map-get($setting-fonts, secondary);
  font-size: 1.125rem;
  font-style: italic;
}

@mixin button-text {
  font-family: map-get($setting-fonts, primary);
  font-weight: 700;
  text-transform: uppercase;
}

@mixin caption {
  font-family: map-get($setting-fonts, secondary);
  font-size: 1.25rem;
  font-weight: bold;
}

@mixin cite {
  font-style: italic;
}

@mixin description-term {
  font-family: map-get($setting-fonts, secondary);
  font-weight: bold;
}

//
// Headings
// -----------------------------------------------------------------------

@mixin h1 {
  font-family: map-get($setting-fonts, secondary);
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2;

  &.xsmall {
    font-size: 1.25rem;
  }

  &.small {
    font-size: 1.5rem;
  }

  &.large {
    font-size: 3rem;
  }

  &.xlarge {
    font-size: 4rem;
  }

  @include breakpoint(medium) {
    font-size: 4rem;

    &.xsmall {
      font-size: 2rem;
    }

    &.small {
      font-size: 3rem;
    }

    &.large {
      font-size: 5rem;
    }

    &.xlarge {
      font-size: 6rem;
    }
  }

  @include breakpoint(large) {
    &.large {
      font-size: 6rem;
    }

    &.xlarge {
      font-size: 8rem;
    }
  }
}

@mixin h2 {
  font-family: map-get($setting-fonts, primary);
  font-size: 1.5rem;
  font-weight: 700;

  &.small { font-size: 1.2rem; }
  &.large { font-size: 1.8rem }

  @include breakpoint(medium) {
    font-size: 2rem;
    &.small { font-size: 1.6rem; }
    &.large { font-size: 3rem }
  }

  @include breakpoint(large) {
    &.large { font-size: 5rem }

  }
}

@mixin h3 {
  font-family: map-get($setting-fonts, secondary);
  font-size: 1.125rem;

  &.small { font-size: 1rem; }
  &.xsmall { font-size: 1rem; }

  @include breakpoint(medium) {
    font-size: 1.5rem;
    &.small { font-size: 1.125rem; }
    &.xsmall { font-size: 1rem; }
  }
}

@mixin h4 {
  color: uswdsGray(7);
  font-family: map-get($setting-fonts, primary);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  &.small {
    font-size: 1rem;
  }

  &.light {
    color: uswdsGray(5);
  }
}

//
// -----------------------------------------------------------------------
//

@mixin i {
  font-style: italic;
}

@mixin label-input {
  font-family: map-get($setting-fonts, primary);
  font-weight: 700;
  font-size: 1rem;
}

@mixin label-checkbox {
  font-family: map-get($setting-fonts, primary);
  font-weight: 400;
  font-size: 0.875rem;
}

@mixin mark {
  background-color: lcsBlue(1);
}

//
// Paragraph
// -----------------------------------------------------------------------

@mixin paragraph {
  font-family: map-get($setting-fonts, primary);
  font-size: 0.875rem;
  line-height: 1.7;

  &.large {
    font-size: 1.125rem;
  }

  &.xlarge {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &.small {
    font-size: 0.75rem;
  }
  &.smallest {
    font-size: 0.75rem;
  }

  @include breakpoint(medium) {
    font-size: 1rem;

    &.large {
      font-size: 1.25rem;
    }
    &.xlarge {
      font-size: 1.75rem;
    }
    &.small {
      font-size: 0.875rem;
    }
  }

  @include breakpoint(large) {
    &.xlarge {
      font-size: 2rem;
    }
  }
}

//
// -----------------------------------------------------------------------
//

@mixin pre {
  font-size: 1rem;
  line-height: 1.6;
}

@mixin quote {
  font-style: italic;
}

@mixin small {
  font-size: 0.75em;
}

@mixin strong {
  font-weight: 700;
}

// UI Typographic Elements

@mixin ui-mini-copy {
  font-family: map-get($setting-fonts, primary);
  font-size: 0.875rem;
}

@mixin ui-micro-copy {
  font-family: map-get($setting-fonts, primary);
  font-size: 0.75rem;
}
