@import "../../Styles/Base/all";

.search-form--navigation {
  margin-top: 0.5rem;
  @include block-spacing("padding", 0.5rem);

  border-top: 2px solid uswdsGray(2);
}

.search-form--utility-nav {
  min-width: 18rem;
}

.search-form__form {
  display: flex;
}

.search-form__input {
  display: block;
  min-height: 2rem;
  padding: 0.5rem;
  width: 100%;

  font-size: 0.875rem;

  border-bottom: 1px solid uswdsGray(3);
  border-left: 1px solid uswdsGray(3);
  border-right: none;
  border-top: 1px solid uswdsGray(3);
}

.search-form__button {

  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 0.5rem 0 1rem;


  @include appearance-reset;
  background-color: transparent;
  border-bottom: 1px solid uswdsGray(3);
  border-left: none;
  border-right: 1px solid uswdsGray(3);
  border-top: 1px solid uswdsGray(3);
}

.search-form__button svg {
  height: 0.75rem;
}



